{% extends "layout.html" %} 
{% block content %}
            <h2>A Toy Danish Sentiment Analysis</h2>
            <p>Write or paste a review and lets attempt to computes its sentiment.</p>
        </div>
        <form method="post" action="{{ url_for('home') }}">
            <div class="form-group">
                <label for="Review">Review</label>
                <textarea name="review" class="form-control" placeholder="Enter review"></textarea>
                <small class="form-text text-muted">Give me scores ...</small>
            </div>

            <button type="submit" class="btn btn-primary" >Go</button>
        </form>   
 {% endblock content %}