[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
nltk = "*"
jupyter = "*"
seaborn = "*"
requests = "*"
humanfriendly = "*"
flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
joblib = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.6"
